* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: #ddd;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ddd;
}

#image {
  width: 300;
  height: 500;
}
.dust {
  position: absolute;
}

.row {
  align-items: left;
  display: flex;
  flex-direction: row;
  border: 3px solid rgb(0, 0, 0);
  width: 500px;
  padding: 10px;
  margin: 50px;
}

/* .column {
  flex: 1 1 0px;
  border: 10px;
  border:3px solid  rgb(182, 0, 0);
}

.column2 {
  flex: 1 1 0px;
  border: 10px;
  border:3px solid  rgb(3, 134, 3);
  padding: 10px;
} */

